<div class="container p-3 my-4" style="background-color:coral; text-align:center">
  <br/>
  <h1 style="color:blue">USER ERROR LOGIN</h1>
  <br/>
  <form action="/login" method="GET" id="login" >
    <button type="submit" class="btn btn-warning">VOLVER</button>
  </form>
  <br/>
</div>