<div class="container p-3 my-4" style="background-color:aqua">
    <div class="col-sm-10"  >
      <h2 style="color:blue">Hasta luego {{username}}</h2>
    </div>
</div>
<script>
  setTimeout(() => {
      window.location.assign("/login")
  }, 2000);
</script>